<a href="https://colab.research.google.com/github/sngyu0217/Python_ai/blob/main/1_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료형
- 자료(data) : 프로그램이 처리할 수 있는 모든 것
- 자료형(dat type) : 자료를 개발자들이 쉽게 사용할 수 있도록 기능과 역할에 따라서 구분한 종류
  - 문자열(string): 메일 제목, 메세지 내용 등
    - 예) "안녕하세요", "Hello, World!"
  - 숫자(number) :물건의 가격, 학생의 성적 등
    - 예) 55,273,103,32
  - 불(boolean) : 사용자의 로그인 상태 등
    - 예) True, False

## 숫자 자료형
- 숫자 자료형의 종류
  - 정수형(integer): 소수점이 없는 숫자
    - 예) 0, 1, 273, -53
  - 실수형(floating point) : 소수점이 있는 숫자
    - 예) 0.0, 52.727, -4.5

  - 주의점
    - 0과 0.0은 같은 크기를 표현하지만 소수점의 여부에 따라 숫자의 자료형이 달라짐

###정수형(integer)

In [2]:
a=123
b=-178
c=0

print(a)
print(b)
print(c)

# type(): 자료형 확인하기
# type 함수의 괄호 내부에는 자료를 넣으면 그 자료가 어떤 자료형을 가지고 있는지 확인

print(type(a))
print(type(b))
print(type(c))

123
-178
0
<class 'int'>
<class 'int'>
<class 'int'>

### 실수형(Floating-point)

In [3]:
a=1.2
b=-3.45

print(a)
print(b)

print(type(a))
print(type(b))

1.2
-3.45
<class 'float'>
<class 'float'>

### 사칙연산

In [4]:
a=3
b=4

print(a+b) # 합
print(a-b) # 차
print(a*b) # 곱
print(a/b) # 나눗셈
print(a**b) # 제곱
print(a//b) # 몫
print(a%b) # 나머지

7
-1
12
0.75
81
0
3

### 연산자의 우선순위
- 숫자를 계산할 때는 곱셈과 나눗셈이 덧셈과 뺄셈보다 우선함
- 같은 우선순위를 가지는 연산자는 왼쪽에서 오른쪽 순서로 계산

In [5]:
print(2+2-2*2/2*2)
# 나눗셈 때문에 실수형으로 바껴서 소수점이 나온다

0.0

In [6]:
# 먼저 연산하고 싶은 부분은 괄호로 표현
print((5+3)*2)
print(5+3*2)

16
11

In [7]:
# 연산자 우선순위가 확실한 경우에도 명확하게 표현하기 위해 괄호를 사용하기도 함
print(5+(3*2))

11

## 문자열 자료형(string)

- 문자열 : 글자들이 나열된 것

In [8]:
a="Hello, World!"
b="123"

print(a)
print(type(a))
print(b)
print(type(b))

Hello, World!
<class 'str'>
123
<class 'str'>

In [9]:
# 문자열 표기법
print("Helllo")
print('Hello')
print("""Hello""")
print('''Hello''')

Helllo
Hello
Hello
Hello

### 문자열에 따옴표 함하기

In [ ]:
# 'Python's favorite food is perl'
print("Python's favorite food is perl")
print('"Python is very easy." he says')

### 여러 줄인 문자열

In [10]:
lines='''Life is too short
You need python'''

print(lines)

Life is too short
You need python

### 이스케이프 코드

- 특별한 의미를 가지는 미리 정의된 문자 조합
  - \n : 줄바꿈
  - \t : 탭
  - \\ : 역슬래시 문자열 입력

In [11]:
lines="Life is too short\nYou need python"
print(lines)

Life is too short
You need python

In [12]:
print("안녕하세요\t안녕하세요")

안녕하세요	안녕하세요

## 문자열 연산자

- 각각의 자료는 사용할 수 있는 연산자가 정해져 있음

### 문자열 연결 연산자

- 두 문자열을 연결해서 새로운 문자열을 만들어냄

In [14]:
# 문자열은 + 연산자로 문자열 연결 연산 적용
# 숫자 더하기 연산자와 문자열 연결 연산자 모두 +기호를 사용하지만 완전히 다른 기능을 수행
"Hello, "+ "World!"

'Hello, World!'

In [15]:
# 문자열과 숫자 사이에 문자열 연결 연산자를 사용하면 에러 발생
"안녕하세요"+1

TypeError: can only concatenate str (not "int") to str

In [16]:
# 문자열과 숫자 사이에 문자열 연결 연산자를 사용하면 에러 발생
print("안녕하세요"+"1")

안녕하세요1

### 문자열 반복 얀산자

- 문자열을 숫자와 * 연산자로 연결
- 문자열을 숫자만큼 반복해서 출력

In [17]:
"Hello"*3

'HelloHelloHello'

### 문자열 인덱싱(Indexing)

- 대괄호(문자 선택 연산자)는 문자열 내부의 문자 하나를 선택하는 연산자
- 대괄호 안에 선택할 문자의 위치(인덱스(index))를 지정
  - 파이썬은 인덱스를 0부터 셈

In [18]:
str1="Hello"
#     01234

In [19]:
str1[0]

'H'

In [20]:
str1[4]

'o'

In [21]:
str1[-1]

'o'

### 문자열 슬라이싱(slicing)

-  문자열의 범위를 지정
- 대괄호 안에 위치를 콜론(:)으로 구분해서 지정
  - 파이썬은 범위 지정시 마지막 숫자를 포함하지 않음

In [22]:
str1[0:4]

'Hell'

In [23]:
# 대괄호 안에 넣는 숫자들 중 하나를 생략할 수 있음
# 생략하면 자동으로 가장 최대 위치(첫 번째 글자 또는 마지막 글자)까지 지정
str1[:4]

'Hell'

In [24]:
str1[:-1]

'Hell'

In [ ]:
str1[1:5]

## 문자열 포매팅(Formatting)

In [26]:
a=3
b=4
pi=3.141592

# 문자열 포맷 코드
print("%d + %d = %d"%(a,b,a+b))

3 + 4 = 7

In [28]:
# format 함수
print("{0} + {1} = {2}".format(a,b,(a+b)))

# 이름으로 값 넣기
print("I ate {num} apples. so I was sick for {day} days".format(num=10,day=3))

3 + 4 = 7
I ate 10 apples. so I was sick for 3 days

In [29]:
# f-string
print(f"{a} + {b} = {a+b}")

3 + 4 = 7

### 문자열 관련 함수

In [30]:
str1="hobby"

In [31]:
# 문자 개수 세기
str1.count("b")

2

In [32]:
# 위치 찾기1
# 검색하는 문자가 처음으로 나온 위치 반환
str1.find("b")

2

In [33]:
# 검색하는 문자가 존재하지 않는 경우 -1을 반환
str1.find("a")

-1

In [34]:
# 위치 찾기2
str1.index("b")

2

In [35]:
# 검색하는 문자가 존재하지 않는 경우 에러 발생
str1.index("a")

ValueError: substring not found

In [36]:
# 대소문자 변환
print("hello".upper())
print("HELLO".lower())

HELLO
hello

In [37]:
# 공백 제거
" hello ".strip()

'hello'

In [38]:
# 문자열 치환
str1="Pithon"

str1.replace("i","y")

'Python'

In [39]:
# 문자열 길이 구하기
print(len("안녕하세요"))

5

## 불 자료형(Boolean)

- 참(True)과 거짓(False)을 나타내는 자료형
  - 어떤 명제의 결과를 표현
- 불린 또는 불리언 이라는 발음으로 부름
  - 프로그램밍에서는 짧게 Bool이라고 쓰기도 함

In [40]:
a=True
b=False

print(a)
print(type(a))
print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

### 불 연산

### 비교 연산자

- == : 같다
- != : 다르다
- <, > : 크다, 작다
- <=, >= : 크거나 같다, 작거나 같다

In [41]:
1==1

True

In [42]:
1!=1

False

In [43]:
2>1

True

In [44]:
2<1

False

In [45]:
# 문자열에 비교 연산자를 적용하면 한글은 사전순서로 앞에 있는 것이 작은 값을 가짐
print("가방">"하마")
print("가방"<"하마")

False
True

### 논리 연산자

- not : 불에 반대로 치환
- and : 두 값이 모두 참일 때 True를 출력하고, 그 외에는 모두 False를 출력
- or : 두 값 중 하나만 참이어도 True를 출력하고, 두 개가 모두 거짓일 때만 False를 출력

In [46]:
print(not True)
print(not False)

False
True

In [47]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [48]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

# 연습 문제

In [49]:
# 1. 자연수가 홀수인지 짝수인지 판별하기

num=13

print(num%2==0)
# True : 0
# False : 1

False

In [50]:
# 2. 주민등록번호에서 생년월일, 성별 추출하기
hong="881120-1068234"

print(hong[:6])
print(hong[7])

881120
1