<a href="https://colab.research.google.com/github/sngyu0217/Python_ai/blob/main/3_%EC%BB%AC%EB%A0%89%EC%85%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 컬렉션

- 여러 값을 하나의 이름으로 묶어서 관리하는 자료

- :-- = 왼쪽 정렬
- :--: = 가운데 정렬
- --: = 오른쪽 정렬

![스크린샷 2024-05-08 203743.png]()

# 리스트(list)

- 여러 가지 자료를 저장할 수 있는 자료
  - 지금까지 활용한 숫자나 문자, 수식 등이 개별적인 자료라면, 리스트는 이런 자료들을 모아서 사용할 수 있게 해주는 특별한 형태의 자료
  - [요소, 요소, 요소...]
  - 대괄호 내부에 넣는 자료를 요소(element)라고 함

In [1]:
# 숫자만으로 구성된 리스트
list_num=[1,2,3,4]

# 문자열만으로 구성된 리스트
list_str=["a","b","c"]

# 여러 자료형으로 구성된 리스트
list_mix=[273,32,103,"문자열",True,False]

In [2]:
# 인덱싱, 슬라이싱
list_num[0]

1

In [3]:
list_num[-1]

4

In [4]:
# 이중 리스트
li=[1,2,3,["a","b","c"]]

In [5]:
li[-1]

['a', 'b', 'c']

In [6]:
li[-1][-1]

'c'

In [7]:
li[:3]

[1, 2, 3]

## 리스트 연산

- 문자열에 적용할 수 있는 연산자는 리스트에도 활용할 수 있음

In [8]:
# 리스트 병합
a=[1,2,3]
b=[4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [9]:
# 리스트 반복
print(a*2)

[1, 2, 3, 1, 2, 3]

## 리스트 수정, 삭제

In [10]:
li

[1, 2, 3, ['a', 'b', 'c']]

In [11]:
# 요소를 인덱스로 삭제
del li[-1]

In [12]:
li

[1, 2, 3]

In [13]:
# 수정
li[2]=4

In [14]:
li

[1, 2, 4]

In [16]:
# remove 함수를 이용한 삭제
li.remove(4)

In [17]:
li

[1, 2]

In [18]:
# remove 함수는 리스트에서 첫 번쨰로 나오는 특정 요소를 삭제하는 함수
li=[1,2,3,1,2,3]

li.remove(3)

li

[1, 2, 1, 2, 3]

In [19]:
# pop 함수를 이용한 삭제
# 제거할 위치를 입력하지 않으면 기본값(-1)을 적용해서
# 리스트의 맨 마지막 요소를 반환하고 해당 요소를 삭제
li=[1,2,3]
li.pop()

3

In [20]:
li

[1, 2]

In [21]:
# 특정 인덱스의 요소를 반환하는 것도 가능
li=[1,2,3]

li.pop(1)

2

In [22]:
li

[1, 3]

## 리스트 관련 함수

In [23]:
# 요소 추가
# 리스트 뒤에 요소를 추가
li.append(5)

In [24]:
li

[1, 3, 5]

In [25]:
li.append([1,2,3])

In [26]:
li

[1, 3, 5, [1, 2, 3]]

In [27]:
# 요소 삽입
# 괄호 안에서 정한 위치에 요소를 삽입
# 해당 위치의 요소는 뒤로 하나씩 밀림
li=[1,2,3]

li.insert(0,4) # 0번째 자리에 4를 삽입

li

[4, 1, 2, 3]

In [28]:
# 리스트 확장
# 리스트 뒤에 새로운 리스트의 요소를 모두 추가
# 한번에 여러 요소를 추가하고 싶을 때 사용
li

[4, 1, 2, 3]

In [29]:
li.extend([4,5])

In [30]:
li

[4, 1, 2, 3, 4, 5]

In [31]:
# 리스트 오름차순 정렬
li.sort(reverse=True)
li

[5, 4, 4, 3, 2, 1]

# 튜플

- 리스트와 유사하지만 튜플은 값의 추가, 삭제, 수정이 불가
  - 프로그램이 실행되는 동안 값이 변하면 안되는 경우 주로 사용

In [32]:
tu=(2,2,3,4,5)

In [33]:
tu

(2, 2, 3, 4, 5)

In [34]:
del tu[0]

TypeError: 'tuple' object doesn't support item deletion

In [35]:
tu[0]=0

TypeError: 'tuple' object does not support item assignment

- 인덱싱, 슬라이싱

In [36]:
tu[0]

2

In [38]:
tu[1:]

(2, 3, 4, 5)

In [39]:
tu1=(1,2)
tu2=(3,4)

tu1+tu2

(1, 2, 3, 4)

In [40]:
tu1*2

(1, 2, 1, 2)

# 딕셔너리

- 자료의 대응 관계를 나타내는 자료형
  - 연관 배열(Associative array) 또는 해시(Hash)

- 데이터를 조회할 때 key를 통해 value를 구함

- 딕셔너리 선언
  - 중괄호{}로 선언
  - 키 : 값 의 형태를 콤마(,)로 연결해서 만듦
    - 키는 문자열, 숫자, 불 등으로 선언할 수 있지만 일반적으로는 문자열을 주로 사용

In [41]:
dic={"name":"andy","birth":"1118"}

In [42]:
dic

{'name': 'andy', 'birth': '1118'}

In [46]:
dic={"a":[1,2,3]}
dic

{'a': [1, 2, 3]}

- 딕셔너리의 요소 추가, 수정 삭제

In [47]:
# 키를 기반으로 값을 입력
dic["name"]="andy"
dic

{'a': [1, 2, 3], 'name': 'andy'}

In [48]:
# 이미 존재하는 키를 지정하고 값을 넣으면 기존의 값을 새로운 값으로 대치
dic["name"]="파인애플"
dic

{'a': [1, 2, 3], 'name': '파인애플'}

In [49]:
# 딕셔너리 요소 삭제
del dic["name"]
dic

{'a': [1, 2, 3]}

In [50]:
score={"kim":10,"lee":99}
score

{'kim': 10, 'lee': 99}

In [51]:
print(score["kim"])

10

In [52]:
print(score["lee"])

99

## 딕셔너리 관련 함수

- key, value, item 리스트

In [53]:
dic={"name":"andy","phone":"0119991234","borth":"1118"}
dic.keys()

dict_keys(['name', 'phone', 'borth'])

In [54]:
dic.values()

dict_values(['andy', '0119991234', '1118'])

In [55]:
dic.items()

dict_items([('name', 'andy'), ('phone', '0119991234'), ('borth', '1118')])

# 세트

- 중복을 허용하지 않음
- 순서가 없음

In [56]:
set1=set("Hello")
print(set1)

{'l', 'e', 'H', 'o'}

- 교집합, 합집합, 차집합

In [57]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

In [58]:
# 교집합
set1&set2

{4, 5, 6}

In [59]:
# 합집합
set1|set2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [60]:
# 차집합
set1-set2

{1, 2, 3}

In [61]:
set2-set1

{7, 8, 9}