<a href="https://colab.research.google.com/github/sngyu0217/Python_ai/blob/main/5_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 함수의 구조

```
def 함수명(매개변수):
  수행할 문장
```

In [3]:
# welcome 함수 정의
def welcome():
  print("Hello")
  print("Nice to meet you")

In [4]:
# 함수명() : 함수 호출
welcome()

Hello
Nice to meet you

In [6]:
# add 함수 정의
def add(a,b):
  return a+b

In [7]:
result=add(3,4)
print(result)

7

## 함수 사용의 장점

- 코드의 용도를 구분
- 코드 재사용이 용이
- 실수를 방지(오타 등)

# 매개변수와 인수

- 매개변수 : 함수에 입력으로 전달된 값을 받는 변수
- 인수 : 함수를 호출할 때 전달하는 입력값
- 인수와 매개변수는 다른 개념이지만 함수가 호출된 뒤에는 구분이 모호해지므로 구분하지 않는 경우도 많음

- 함수의 사용법
  - 결괏값을 받을 변수 = 함수명(입력인수1, 압력인수2, ...)

In [8]:
# 입력값이 없고 결괏값이 없는 함수
def say():
  return "Hi"

In [9]:
a=say()
print(a)

Hi

In [10]:
# 입력값이 없고 결과값이 없는 함수
def add(a,b):
  print(f"{a},{b} 의 합은 {a+b}입니다")

In [11]:
add(3,4)

3,4 의 합은 7입니다

In [12]:
# 결괏값 확인
a=add(3,4)
print(a)

3,4 의 합은 7입니다
None

In [13]:
# 입력값도 결괏값도 없는 함수
def say():
  print("Hi")

In [14]:
say()

Hi

## 매개변수 지정하여 호출하기

In [15]:
add(3,7)

3,7 의 합은 10입니다

In [16]:
add(a=3,b=7)

3,7 의 합은 10입니다

In [17]:
add(b=3,a=7)

7,3 의 합은 10입니다

# 함수의 결과값

In [18]:
def add_and_mul(a,b):
  return a+b,a*b

In [19]:
result=add_and_mul(3,4)

# 함수의 결괏값은 2개가 아니라 하나의 튜플로 변환되었음
print(result)

(7, 12)

In [20]:
# 2개의 결괏값처럼 받고 싶다면
result1, result2=add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [21]:
def add_and_mul(a,b):
  return a+b
  return a*b

In [22]:
# 함수는 return을 만나는 순간 함수 실행이 종료됨
result=add_and_mul(2,3)
print(result)

5

### return

- 함수를 종료시키고 싶을 때 사용할 수도 있음

In [23]:
def say_nick(nick):
  if nick=="바보":
    return
  print(f"나의 별명은 {nick} 입니다")

In [24]:
say_nick("야호")

나의 별명은 야호 입니다

In [25]:
say_nick("바보")

# 디폴트 매개변수

- 기본값 : 매개변수로 전달되는 인수가 없는 경우에 기본적으로 사용하는 값

In [26]:
say_nick()

TypeError: say_nick() missing 1 required positional argument: 'nick'

In [27]:
say_nick("aaa","bbb")

TypeError: say_nick() takes 1 positional argument but 2 were given

In [28]:
def say_myself(name, old, man=True):
  print(f"나의 이름은 {name}입니다")
  print(f"나이는 {old}살 입니다")

  if man:
    print("남자입니다")
  else:
    print("여자입니다")

In [29]:
# man 매개변수에 True 기본값이 입력됨
say_myself("파이썬",27)

나의 이름은 파이썬입니다
나이는 27살 입니다
남자입니다

In [30]:
say_myself("파이썬",27,True)

나의 이름은 파이썬입니다
나이는 27살 입니다
남자입니다

In [31]:
say_myself("파이썬",27,False)

나의 이름은 파이썬입니다
나이는 27살 입니다
여자입니다

## 디폴드 매개변수의 위치

- 디폴트 매개변수는 가장 끝에 위치해야함

In [32]:
def say_myself(name,man=True,old):
  print(f"나의 이름은 {name} 입니다")
  print(f"나이는 {old}살 입니다")

  if man:
    print("남자입니다")
  else:
    print("여자입니다")

SyntaxError: non-default argument follows default argument (<ipython-input-32-49626133d2ba>, line 1)

# 지역변수와 전역변수

- 지역변수
  - 함수 내부에서 선언한 변수는 함수 내부에서만 사용할 수 있는 변수가 됨
  - 함수 외부에서는 지역변수에 접근할 수 없음

- 전역변수
  - 하뭇 외부에서 선언한 변수는 함수 내부에서도 사용 가능

In [33]:
def vartest():
  # 지역변수 var
  var=10
  print(var)

In [34]:
vartest()

10

In [35]:
# vartest 외부에서는 함수 내부의 지역변수 var를 사용할 수 없음
print(var)

NameError: name 'var' is not defined

In [36]:
var2=10

In [37]:
def var2test():
  print(var2)

In [38]:
var2test()

10

### 전역변수를 함수 내부에서 사용하는 2가지 경우

- 단순 참조
- 전역변수의 값을 변경

In [39]:
# 전역변수 a
a=0

In [40]:
def f():
  # 지역변수 a
  a=10
  print(a)

In [41]:
f()

10

In [42]:
print(a)

0

In [43]:
# 함수 내부에서 전역변수의 값을 변경하려면
def f():
  global a # 전역변수 a를 사용하겠다
  a=10
  print(a)

In [44]:
f()

10

In [45]:
print(a)

10